website/
private/
private-projects/
node_modules/
gallery
gallery/**
gallery-src-updated/
gallery-src/*/*.gif
gallery-src/*/story.json
gallery-src/remote-server/assets/**
gallery-src/remote-server/story.json
gallery-src/**/story-frames/
test/tests.run/
test/log/
docs/release/
docs/*.*/
docs/latest/
shared/dev-builders/output
release{/**,}
*.js.map
**/*.bak.*
*.bak.md
*.log
package-lock.json