private/
node_modules/
gallery-updated/
gallery-release/
gallery/*/*.gif
gallery/*/story.json
gallery/remote-server/assets/**
gallery/remote-server/story.json
gallery/**/story-frames/
test/tests.run/
docs/build
shared/dev-builders/output
release/*
*.js.map
**/*.bak.*
*.bak.md
*.log