<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../../client/lib/css/vendor/normalize.css" rel="stylesheet">
    <link href="../../../client/lib/css/abeamer.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div class="abeamer-story" id=story>
        <div class="abeamer-scene" id=scene1>
__HTML__
        </div>
    </div>
    <script src="../../../client/lib/js/vendor/core.min.js"></script>
    <script src="../../../client/lib/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="../../../client/lib/js/vendor/jquery-easing/jquery.easing.min.js"></script>
__LIB_FILES__
__PLUGINS__
    <script src="main.js"></script>
</body>

</html>